<%- include("partials/header") %>
    <h1><%= newPostTitle %></h1> 
    <p><%= newPostBody %></p>
    <form method="post" action="/delete">
        <button type="submit" name="idForDeletion" value=<%= postId %> id="delete">Delete Post</button>
    </form>

<%- include("partials/footer") %> 